@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

body,
::placeholder,
html,
input {
  font-family: 'Roboto Mono', monospace;
}

body,
html {
  background-color: navajowhite;
}

::placeholder {
  background-color: white;
}
