@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

body,
::placeholder,
html,
input {
  font-family: 'Roboto Mono', monospace;
  box-sizing: border-box;
}

body,
html {
  background-color: navajowhite;
}

::placeholder {
  background-color: white;
}

@media only screen and (max-width: 600px) {
}
